/*
 * BorderPane that contains the project
 *   _______________
 *   |______T______|
 *   | |         | |
 *   |L|    C    |R|
 *   | |         | |
 *   | |_________| |
 *   |______B______|
 */
#jExplorerBorderPane{
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-min-height: 230px;
}
/***********************************************************************************************************************
 * Top level of the BoarderPane
 * Contains: Title bar
 *           Tab pane
 *           Navigation bar
 *
 *   _______________
 *   |_____This____|
 *   | |         | |
 *   |L|    C    |R|
 *   | |         | |
 *   | |_________| |
 *   |______B______|
 */
/*
 **************
 *  Top - VBox
 **************
 */
#jExplorerTopToolBarVBox{
    -fx-min-height: 195px;
    -fx-max-height: 195px;
    -fx-pref-height: 195px;
    -fx-min-width: 0px;
    -fx-background-color: #ffffff;
}
/*
 **************
 *  Top - Title Bar
 **************
 */
#jExplorerTitleBarHBox{
    -fx-min-height: 33px;
    -fx-max-height: 33px;
    -fx-pref-height: 33px;
    -fx-background-color: black;
}
#jExplorerTitleBarMinimizeButton, #jExplorerTitleBarMaximizeButton, #jExplorerTitleBarCloseButton{
    -fx-min-height: 32px;
    -fx-max-height: 32px;
    -fx-pref-height: 32px;
    -fx-min-width: 45px;
    -fx-max-width: 45px;
    -fx-pref-width: 45px;
    -fx-font: 18px "Serif";
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0px;
}
#jExplorerTitleBarMinimizeButton{
    -fx-font: 18px "Serif";
}
#jExplorerTitleBarMinimizeButton:hover, #jExplorerTitleBarMaximizeButton:hover{
    -fx-background-color: #292a2b;
}
#jExplorerTitleBarMaximizeButton{
    -fx-font: 13px "Serif";
}
#jExplorerTitleBarCloseButton{
    -fx-font: 15px "Serif";
}
#jExplorerTitleBarCloseButton:hover{
    -fx-background-color: #E81123;
}
/*
 * Tab pane buttons
 */
#fileTab{
    -fx-background-color: #000000;
    -fx-text-base-color: #ffffff;
    -fx-border-color: transparent;
    -fx-effect: null;
    -fx-focus-traversable: false;

    -fx-background-radius: 0;
    -fx-background-insets: 0;

    -fx-border-radius: 0;
    -fx-border-insets: 0;
}
#fileTab:hover{
    -fx-background-color: #292a2b;
}
#fileTab:selected{
    -fx-border-color: transparent;
    -fx-background-color: #292a2b;
}
#computerTab, #viewTab, #themeTab, #dummyTab{
    -fx-background-color: #3a3c3d;
    -fx-border-color: transparent;
    -fx-text-base-color: #d0d2d8;

    -fx-background-radius: 0;
    -fx-background-insets: 0;

    -fx-border-radius: 0;
    -fx-border-insets: 0;
}
#computerTab:hover, #viewTab:hover, #themeTab:hover{
    -fx-background-color: #2c2d2d;
}
#computerTab:selected, #viewTab:selected, #themeTab:selected{
    -fx-background-color: #2c2d2d;
}
/*
 * Tab pane
 */
#jExplorerWindowsTabTabPane{
    -fx-background-color: #3a3c3d;
    -fx-tab-min-width: 50px;
}
#jExplorerWindowsTabTabPane .tab-header-background{
    -fx-background-color: #3a3c3d;
}
#jExplorerWindowsTabTabPane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
#jExplorerWindowsTabTabPane .tab-down-button{
    -fx-padding: 0;
}
#jExplorerWindowsTabTabPane .tab-down-button .arrow{
    -fx-padding: 0;
}
#jExplorerWindowsFileTabHBox{
    -fx-background-color: #3a3c3d;
}
#jExplorerDummyTabContentHBox, #jExplorerViewTabContentHBox, #jExplorerThemeTabContentHBox{
    -fx-background-color: #3a3c3d;
}
/*
 * File tab
 */
#fileTabButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-background-radius: 0;
    -fx-pref-width: 275px;
    -fx-pref-height: 42.2px;
    -fx-border-width: 2;
    -fx-border-color: transparent #292a2b transparent transparent;
}
#extendedFileTabOptionButtons{
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-background-radius: 0;
    -fx-pref-width: 275px;
    -fx-pref-height: 42.2px;
}
#fileTabButton:hover{
    -fx-background-color: #292a2b;
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
}
#fileTabVBox{
    -fx-background-color: #000000;
}
#fileOptionsVBox{
    -fx-background-color: #000000;
}
#newWindow, #windowsPowerShell, #foldersOption, #help{
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-background-radius: 0;
    -fx-pref-width: 275px;
    -fx-pref-height: 42.2px;
    -fx-border-width: 1;
    -fx-border-color: transparent #414344 transparent transparent;
}
#close{
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-background-radius: 0;
    -fx-pref-width: 275px;
    -fx-pref-height: 42.2px;
    -fx-border-width: 1;
    -fx-border-color: transparent #414344 #414344 transparent;
}
#newWindow:hover, #windowsPowerShell:hover, #foldersOption:hover, #help:hover, #close:hover,  #extendedFileTabOptionButtons:hover{
    -fx-background-color: #292a2b;
    -fx-border-color: #414344;
    -fx-border-width: 1;
}
#customDivider{
    -fx-stroke: #414344;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 0 75 275 0;
}
/*
 * Computer Tab
 */
#computerTabContentHolder{
    -fx-background-color: #3a3c3d;
    -fx-border-color: #000000 #000000 #000000 #000000;
    -fx-border-width: 1;
}
#customSeparator{
    -fx-border-style: solid;
    -fx-background-color: #aaacaf;
    -fx-border-color: #aaacaf;
    -fx-orientation: VERTICAL;
    -fx-border-width: 1 0 0 0;
}
/*
 * Computer tab section one
 */
#computerTabContentSectionHBoxButtonsSectionOne{
    -fx-min-width: 225px;
    -fx-alignment: center;
    -fx-padding: 5px;
}
#computerTabSectionOnePropertiesButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 70px;
    -fx-min-height: 55px;
    -fx-background-image: url('/images/windowsPropertiesButton.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
}
#computerTabSectionOneOpenButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 70px;
    -fx-min-height: 55px;
    -fx-background-image: url('/images/openButton.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
}
#computerTabSectionOneRenameButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 70px;
    -fx-min-height: 55px;
    -fx-background-image: url('/images/renameButton.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-alignment: center;
}
#locationTabContentSectionLabel{
    -fx-text-fill: #aaacaf;
    -fx-min-width: 225px;
    -fx-font-family: Arial;
    -fx-alignment: center;
}
/*
 *  Computer tab section two
 */
#computerTabContentSectionHBoxButtonsSectionTwo{
    -fx-min-width: 250px;
    -fx-alignment: center;
    -fx-padding: 5px;
}
#computerTabSectionTwoAccessMediaButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 70px;
    -fx-min-height: 65px;
    -fx-background-image: url('/images/accessMedia.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#computerTabSectionTwoMapNetworkDriveMediaButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 74px;
    -fx-min-height: 65px;
    -fx-background-image: url('/images/mapNetworkDrive.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#computerTabSectionTwoAddANetworkLocationButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 74px;
    -fx-min-height: 65px;
    -fx-background-image: url('/images/addANetworkLocation.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#networkTabContentSectionLabel{
    -fx-text-fill: #aaacaf;
    -fx-min-width: 250px;
    -fx-font-family: Arial;
    -fx-alignment: center;
}
/*
 * Computer tab section three
 */
#computerTabContentSectionHBoxButtonsSectionThree{
    -fx-min-width: 275px;
    -fx-alignment: center;
    -fx-padding: 5px;
}
#computerTabSectionThreeOpenSettingsButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 72px;
    -fx-min-height: 55px;
    -fx-background-image: url('/images/openSettings.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#computerTabSectionThreeManageButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 68px;
    -fx-min-height: 14px;
    -fx-background-image: url('/images/manage.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#computerTabSectionThreeSystemPropertiesButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 116px;
    -fx-min-height: 14px;
    -fx-background-image: url('/images/systemProperties.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#computerTabSectionThreeUninstallChangeProgramButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-min-width: 186px;
    -fx-min-height: 14px;
    -fx-background-image: url('/images/uninstallChangeProgram.PNG');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
}
#systemTabContentSectionLabel{
    -fx-text-fill: #aaacaf;
    -fx-min-width: 275px;
    -fx-font-family: Arial;
    -fx-alignment: center;
}
#computerTabSectionOnePropertiesButton:hover, #computerTabSectionOneOpenButton:hover,
#computerTabSectionOneRenameButton:hover, #computerTabSectionThreeOpenSettingsButton:hover,
#computerTabSectionThreeUninstallChangeProgramButton:hover, #computerTabSectionThreeSystemPropertiesButton:hover,
#computerTabSectionThreeManageButton:hover, #computerTabSectionTwoAccessMediaButton:hover,
#computerTabSectionTwoMapNetworkDriveMediaButton:hover, #computerTabSectionTwoAddANetworkLocationButton:hover{
    -fx-background-color: #414344;
}
/*
 * View tab
 */
/*
 * Dummy tab
 */

/*
 * Navigation bar
 */
#jExplorerNavigation{
    -fx-background-color: #3a3c3d;
    -fx-padding: 5, 5, 0, 0;
}
#jExplorerNavigationBackButton, #jExplorerNavigationForwardButton, #jExplorerNavigationUpButton{
    -fx-background-color: transparent;
    -fx-text-fill: #d0d2d8;
    -fx-min-width: 30px;
}
#jExplorerNavigationBackButton:hover, #jExplorerNavigationForwardButton:hover, #jExplorerNavigationUpButton:hover{
    -fx-background-color: #292a2b;
}
#jExplorerNavigationBar{
    -fx-background-color: #4f5051;
    -fx-border-color: #000000;
    -fx-min-width: 0px;
    -fx-pref-width: 10000px;
    -fx-pref-height: 25px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-border-width: 2px;
}
#jExplorerNavigationBar .text-input{
    -fx-background-color: #4f5051;
    -fx-text-fill: #d0d2d8;
}
#jExplorerNavigationBar .arrow{
    -fx-background-color: #d0d2d8;
}
#jExplorerNavigationBar .arrow-button{
    -fx-background-color: #5d5f60;
}
#jExplorerNavigationBar .arrow-button:hover{
    -fx-background-color: #292a2b;
}
#jExplorerNavigationBarRefreshButton{
    -fx-background-color: #3a3c3d;
    -fx-text-fill: #d0d2d8;
    -fx-font-size: 9.3px;
    -fx-pref-width: 5px;
    -fx-pref-height: 1px;
    -fx-border-width: 2px 2px 2px 0px;
    -fx-border-color: #000000;
}
#jExplorerNavigationBarRefreshButton:hover{
    -fx-background-color: #292a2b;
}
#jExplorerSearchBarTextField{
    -fx-background-color: #4f5051;
    -fx-min-width: 100px;
    -fx-text-fill: #d0d2d8;
    -fx-font-size: 9.3px;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
}
/*
 * Left of borderPane
 *   _______________
 *   |______T______|
 *   |T|         | |
 *   |H|    C    |R|
 *   |I|         | |
 *   |S|_________| |
 *   |______B______|
 */
#jExplorerLeftSideHBox{
    -fx-background-color: #3a3c3d;
    -fx-min-height: 0px;
    -fx-border-color: transparent;
}
#jExplorerLeftSideExplorerTreeView{
    -fx-background-color: #3a3c3d;
    -fx-min-width: 150;
}
#jExplorerLeftSideExplorerTreeView .tree-cell, #jExplorerLeftSideExplorerTreeView .tree-view{
    -fx-background-color: #3a3c3d;
    -fx-text-fill: #d0d2d8;
}
#jExplorerLeftSideExplorerTreeView .tree-cell:hover{
    -fx-background-color: #1b1b1c;
    -fx-text-fill: #d0d2d8;
}
#jExplorerLeftSideExplorerTreeView .tree-cell:empty:hover{
    -fx-background-color: #3a3c3d;
}
#jExplorerLeftSideExplorerTreeView .tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #d0d2d8;
}
#jExplorerLeftSideExplorerTreeView .tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: #d0d2d8;
}
#jExplorerLeftSideExplorerTreeView .tree-cell:selected {
    -fx-background-color: #000000;
}
#jExplorerLeftSideExplorerTreeView .scroll-bar:vertical{
    -fx-background-color: #3a3c3d;
    -fx-pref-width: 18px;
}
#jExplorerLeftSideExplorerTreeView .scroll-bar:vertical .increment-button,
#jExplorerLeftSideExplorerTreeView .scroll-bar:vertical .decrement-button{
    -fx-background-color: #5d5f60;
    -fx-pref-height: 20px;
}
#jExplorerLeftSideExplorerTreeView .scroll-bar:vertical .thumb{
    -fx-background-color: #5d5f60;
}
#jExplorerLeftSideExplorerTreeView .scroll-bar:vertical .thumb:hover{
    -fx-background-color: #6d6f70;
}
#jExplorerLeftSideExplorerTreeView .scroll-bar:vertical:hover{
    -fx-background-color: #404344;
    -fx-pref-width: 19px;
}
#jExplorerLeftSideExplorerTreeView .scroll-bar:horizontal,
#jExplorerLeftSideExplorerTreeView .scroll-bar:horizontal .thumb,
#jExplorerLeftSideExplorerTreeView .scroll-bar:horizontal .increment-button,
#jExplorerLeftSideExplorerTreeView .scroll-bar:horizontal .decrement-button,
#jExplorerLeftSideExplorerTreeView .scroll-bar:horizontal .decrement-arrow,
#jExplorerLeftSideExplorerTreeView .scroll-bar:horizontal .increment-arrow{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#jExplorerLeftExplorerTreeViewRegionDivider{
    -fx-background-color: #000000;
    -fx-min-width: 1;
}
/***********************************************************************************************************************
 * Center of BorderPane
 *   _______________
 *   |______T______|
 *   | |         | |
 *   |L|  This   |R|
 *   | |         | |
 *   | |_________| |
 *   |______B______|
 */
/*
 **************
 *  Center HBox
 **************
 */
#jExplorerHBoxCenter{
    -fx-background-color: #3a3c3d;
    -fx-min-width: 0px;
}
 /*
  *******************
  *  Center TableView
  *******************
  */
#jExplorerCenterFileExplorerTableView{
    -fx-background-color: #3a3c3d;
}
#jExplorerCenterFileExplorerTableView .column-header-background, #jExplorerCenterFileExplorerTableView .filler{
    -fx-background-color: #3a3c3d;
}
#jExplorerCenterFileExplorerTableView .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #d0d2d8;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: transparent #000000 transparent transparent;
}
#jExplorerCenterFileExplorerTableView .column-header-background .label:hover{
    -fx-background-color: #2c2d2d;
    -fx-alignment: CENTER_LEFT;
}

#jExplorerCenterFileExplorerTableView .column-header {
    -fx-background-color: transparent;
}

#jExplorerCenterFileExplorerTableView .table-cell{
    -fx-text-fill: #d0d2d8;
}
#jExplorerCenterFileExplorerTableView .table-row-cell{
    -fx-background-color: #3a3c3d;
}
#jExplorerCenterFileExplorerTableView .table-row-cell:hover{
    -fx-background-color: #1b1b1c;
}
#jExplorerCenterFileExplorerTableView .table-row-cell:selected {
    -fx-background-color: #000000;
}
#jExplorerCenterFileExplorerTableView  > .virtual-flow > .scroll-bar {
    -fx-background-color: #3a3c3d;
    -fx-pref-width: 18px;
}
#jExplorerCenterFileExplorerTableView > .virtual-flow > .scroll-bar:hover{
    -fx-background-color: #404344;
}
#jExplorerCenterFileExplorerTableView .scroll-bar .thumb{
    -fx-background-color: #5d5f60;
}
#jExplorerCenterFileExplorerTableView .scroll-bar:vertical .thumb:hover,
#jExplorerCenterFileExplorerTableView .scroll-bar:horizontal .thumb:hover{
    -fx-background-color: #6d6f70;
}

#jExplorerCenterFileExplorerTableView  > .virtual-flow > .scroll-bar > .increment-button,
#jExplorerCenterFileExplorerTableView > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-background-color: #5d5f60;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}
#jExplorerCenterFileExplorerTableView > .virtual-flow > .corner{
     -fx-background-color: transparent;
 }
#jExplorerCenterFileExplorerTableView .table-row-cell:empty:hover {
    -fx-background-color: #3a3c3d;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
#fileIconWithName, #nameColumn, #dateModifiedColumn, #typeColumn, #sizeColumn{
    -fx-table-cell-border-color: transparent;
}
#jExplorerCenterEndRegionSpacer{
    -fx-background-color: #3a3c3d;
    -fx-min-width: 2px;
}
#jExplorerFileLabel{
    -fx-text-fill: #d0d2d8;
}
/***********************************************************************************************************************
 * Right of borderPane
 *   _______________
 *   |______T______|
 *   | |         |T|
 *   |L|    C    |H|
 *   | |         |I|
 *   | |_________|S|
 *   |____This_____|
 */
#jExplorerRightVBox{
    -fx-min-width: 2px;
}
/*
 * Bottom of borderPane
 *   _______________
 *   |______T______|
 *   | |         | |
 *   |L|    C    |R|
 *   | |         | |
 *   | |_________| |
 *   |____This_____|
 */
#jExplorerBottomHBox{
    -fx-background-color: #3a3c3d;
}
#jExplorerItemAndSelectionLabel{
    -fx-text-fill: #d0d2d8;
    -fx-font-family: Arial;
    -fx-font-size: 12;
}